<html>
<head>
    <link type="text/css" rel="stylesheet" href="assets/css/semantic.min.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="assets/css/style.min.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="assets/css/font-awesome.min.css" media="screen">
</head>
<body style="min-width:600px;">

    <ul id="lmfw" class="ui list">
        <div class="ui fluid icon input">
            <input @keyup.enter="reload" autofocus id="search" type="text" placeholder="Search than press enter...">
            <i @click="reload" class="circular search link icon"></i>
        </div>
        <item class="item" :model="treeData"></item>
    </ul>
    <br>
    <script type="text/x-template" id="item-template">
        <div v-show="isVisible" class="item">
            <i v-if="isFolder" :class="{folder: isFolder, details_open: open, details_close: !open}" class="icon"></i>
            <div class="content">
                <div data-url="{{model.link}}"  class="details" :class="{details_folder: isFolder, details_open: open, details_close: !open}" @click="toggle" @dblclick="changeType">
                    <img v-if="!isFolder" class="gfavicon" src="https://www.google.com/s2/favicons?domain={{model.link}}" alt="">
                    <div :class="header" class="header-link">
                        {{model.name}}
                        <span v-if="isFolder">[{{open ? '-' : '+'}}]</span>
                    </div>
                    <div class="description">
                        <span v-if="!isFolder">{{model.link}}</span>
                        <span v-if="isFolder">/////////////////////</span>
                    </div>
                </div>
                <div class="list" v-show="isOpen" v-if="isFolder">
                    <item class="item" v-for="model in model.children" :model="model"></item>
                </div>
            </div>
        </div>
    </script>
    <!-- JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.json.min.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/popup.min.js"></script>
</body>
</html>
